@model CrockPot.Models.Recipe
@using CrockPot.Data
@using Microsoft.AspNetCore.Identity


@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<hr>

<div style="display: flex">
    <dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Ingredients
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var ingredient in Model.Ingredients)
                {
                    <li>@ingredient.Name</li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            <p>Author</p>
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(ViewBag.Author)
        </dd>
        <dt class="col-sm-2">
            Categories
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li>@category.Name</li>
                }
            </ul>
        </dd>
    </dl>

    <div>
        <img src=@Model.ImageUrl alt="Image" style="width: 20vw; height: auto;" />
    </div>

</div>

<div>
    <h4>Average Rating</h4>
    <p>@ViewBag.AverageRating</p>
</div>
<h4>Rating</h4>
<hr />

<p>Current Rating: @ViewBag.AverageRating</p>

@for (int i = 1; i <= 5; i++)
{
    if (i <= ViewBag.AverageRating)
    {
        <img src="~/images/star_checked.png" alt="Star" style="width: 3vw; height: auto;" />
    }
    else if (i - 0.5 <= ViewBag.AverageRating)
    {
        <img src="~/images/star_semi_checked.png" alt="Star" style="width: 3vw; height: auto;" />
    }
    else{
        <img src="~/images/star.png" alt="Star" style="width: 3vw; height: auto;" />
    }
}

<div>
    <a asp-controller="Ratings" asp-action="Create" asp-route-recipeId="@Model.Id">Add Rating</a>
</div>

<div>
    <h4>Comments</h4>
    <ul>
        @foreach (var comment in ViewBag.Comments)
        {
            <li>@comment</li>
        }
    </ul>
</div>

<div>
    <h4>Share Recipe</h4>
    <form asp-controller="SharedRecipes" asp-action="Create" method="post">
        <input type="hidden" name="RecipeId" value="@Model.Id" />

        <label for="ReceiverId">Select Receiver:</label>
        <select name="ReceiverId" class="input-box" required>
            <option value="">Select a User</option>
            @if (ViewBag.AllUsers != null)
            {
                foreach (var user in ViewBag.AllUsers)
                {
                    <option value="@user.Id">@user.UserName</option>
                }
            }
            else
            {
                <optin value="user.Id">"ne stana nomerut :)"</optin>
            }
            
        </select>

        <button type="submit">Share Recipe</button>
    </form>
</div>


<form asp-controller="Comments" asp-action="Create" method="post">
    <input type="hidden" name="RecipeId" value="@Model.Id" />
    <input name="Content" class="input-box" placeholder="Comment here">
    
    <button type="submit">Submit Comment</button>
</form>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
