@model IEnumerable<CrockPot.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {
    <div class="display_box">
        <span>Name: </span>
        @Html.DisplayFor(modelItem => item.Name)
        <br>
        <span>Description: </span>
        @Html.DisplayFor(modelItem => item.Description)
        <br>
        <span>Ingredients: </span>
        @Html.DisplayFor(modelItem => item.Ingredients)
        <br>
        <span>By: </span>
        @Html.DisplayFor(modelItem => item.AuthorId)
        <br>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </div>
}
